<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="num1" class="form-label">Numero1</label>
            <input type="text" [(ngModel)]='num1' class="form-control" name="num1" placeholder="Numero1">
        </div>
        <div class="mb-3">
            <label for="num2" class="form-label">Numero2</label>
            <input type="text" [(ngModel)]='num2' class="form-control" name="num2" placeholder="Numero2">
        </div>


        <div class="form-check">
            <input class="form-check-input" type="radio" name="suma" id="flexRadioDefault1" value="{{operacion}}">
            {{operacion === 'sumar'}}
            <label class="form-check-label" for="sumar">Sumar</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="resta" id="flexRadioDefault2" value="{{operacion}}">
            {{operacion === 'restar'}}
            <label class="form-check-label" for="restar">Restar</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="multiplicar" id="flexRadioDefault3" value="{{operacion}}">
            {{operacion === 'multi'}}
            <label class="form-check-label" for="multiplicar">Multiplicar</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="dividir" id="flexRadioDefault4" value="{{operacion}}">
            {{operacion === 'divi'}}
            <label class="form-check-label" for="dividir">Dividir</label>
        </div>


        <div class="mb-3">
            <button (click)="" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div class="col-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>